/**
 * @file
 * This file includes CSS that is copied from Drupal. Please DO NOT touch!
 */

body {
  color: #676767;
  font-family: "Open Sans","sans-serif";
}

/**
 * Make the element resizable but keep the aspect ratio using a box-model feature.
 *
 * @see http://www.w3.org/TR/CSS2/box.html#padding-properties
 */
.media-resizable-wrapper {
    /*@aspect_ratio: (9 / 16) * 100%;*/
    display: block; /* We need a block element for this to work. */
    height: 0;
    /*padding-top: @aspect_ratio;*/
    padding-top: 56.25%;
    position: relative;
}

.media-resizable-wrapper .media-resizable-element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.media-resizable-wrapper.aspect-3-4 {
    @aspect_ratio: (3 / 4) * 100%;
    /*padding-top: @aspect_ratio;*/
    padding-top: 75%;
}
