
# Ignore development specific files and folders.
.DS_Store
.buildpath
.idea
.project
.settings
*.sublime*
*--ignore
*--ignore.*
/deployer/.vagrant
/deployer/*.retry
/deployer/AnsibleMain.local.yml
/deployer/DeployerSettings.local.yml
/deployer/VagrantSettings.local.yml

# Ignore archives and database dumps.
/*.7z
/*.gz
/*.sql
/*.tar
/*.tgz
/*.zip
/deployer/*.gz
/deployer/*.tgz

# Drupal specific files and folders.
# Ignore configuration files that may contain sensitive information.
/public_html/.htaccess
/public_html/sites/*/drushrc.custom.php
/public_html/sites/*/settings.custom.php

# Ignore paths that contain user-generated content.
/public_html/sites/*/files
/public_html/sites/*/private

# Ignore local .htaccess and robots.txt files.
/public_html/robots.txt

# Ignore PHP development specific files.
/public_html/sites/all/modules/dev
/public_html/sites/default/update_scripts/environment/setup.local.php
/xdebug/
/legacy_html/

# Ignore JS development specific files and folders.
node_modules/
/visualizations/prototype/js/rd3
