
# Ignore development specific files and folders.
.idea
*.sublime*
*--ignore.*
/.buildpath
/.project
/.settings
/.vagrant
/public_html/sites/all/modules/dev

# Ignore archives and database dumps.
/*.7z
/*.gz
/*.sql
/*.tar
/*.tgz
/*.zip


# Drupal specific files and folders.
# Ignore configuration files that may contain sensitive information.
/public_html/.htaccess
/public_html/sites/*/drushrc.custom.php
/public_html/sites/*/settings.custom.php
/Vagrantsettings.local.yaml

# Ignore paths that contain user-generated content.
/public_html/sites/*/files
/public_html/sites/*/private

# Ignore local .htaccess and robots.txt files.
/public_html/robots.txt

# Ignore development specific files.
/public_html/sites/default/update_scripts/environment/setup.local.php
/xdebug/
/old_html/

# Ignore development things for visualizations
/visualizations/prototype/node_modules
/visualizations/prototype/js/rd3
