@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html,
body {
  font-family: 'Open Sans';
}
a {
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  color: #0093cf;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
