files:
  "/home/ec2-user/set-ip.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export EC2_HOME=/opt/aws/apitools/ec2
      export JAVA_HOME=/usr/lib/jvm/jre
      export CLASSPATH=${EC2_HOME}/lib
      export PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/root/bin
      IP=`/opt/aws/bin/ec2-describe-addresses --region eu-west-1|grep -v i-|head -1|awk {'print $2'}`
      INSTANCE=`/opt/aws/bin/ec2-metadata -i | cut -d ' ' -f2`

      if [[ $IP != '' && $INSTANCE != '' ]];then
        /opt/aws/bin/ec2-associate-address --region eu-west-1 -i $INSTANCE $IP
      else
        printf "Subject: FAILED to bind a IP address!\nContent-Type: text/plain\nX-MSMail-Priority: High\nImportance: High\n
        Unable to get and bind a IP address for web instance.\n
        Environment: Coop Web\n
        IP variable: $IP\n
        Instance variable: $INSTANCE" | /usr/sbin/sendmail -f "alert@eiti.org" eiti.hosting@adm.hosting
      fi


commands:
   01-set-ip:
      command: "/bin/bash /home/ec2-user/set-ip.sh"

   02-clean-up:
      command: "rm -f /home/ec2-user/set-ip.sh"