commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

container_commands:
   01-create-zpa-dir:
      command: "mkdir /home/ec2-user/monitor"
      ignoreErrors: true

   02-copy-zpa:
      command: "cp -rf .ebextensions/assets/* /home/ec2-user/monitor/"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install_monitoring.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      /home/ec2-user/monitor/Site24x7_Linux_64bit.install -u
      chmod 755 /home/ec2-user/monitor/Site24x7_Linux_64bit.install
        
        /home/ec2-user/monitor/Site24x7_Linux_64bit.install -i -key=18ddd5f60098472da9a9c58d366b4276324d6967 -gn="EITI - $AWS_ENV_NAME" -dn="EITI - $AWS_ENV_NAME Server"
        

    