files:
  "/home/ec2-user/drupal-cron.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      echo "Cron started..."
      COLUMNS=72
      . /opt/elasticbeanstalk/support/envvars
      chmod +x /var/www/html/www/vendor/bin/drush
      cd /var/www/html && ./www/vendor/bin/drush aws-is-first-instance && ./www/vendor/bin/drush cron
      echo "Cron finished"

  "/tmp/cronjob_drupal":
      mode: "000644"
      owner: root
      group: root
      content: |
        */5 * * * * root /bin/su - root -lc "/home/ec2-user/drupal-cron.sh > /var/log/drupal-cron.log 2>&1"
      encoding: plain

commands:
  00-cron-drupal:
    command: "cp /tmp/cronjob_drupal /etc/cron.d/drupal"
