files:
  "/tmp/s3cfgfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      aws s3 cp s3://eiti-$AWS_S3_ENV_NAME-conf/settings.custom.php /var/app/ondeck/public_html/sites/default && sudo chown webapp:webapp /var/app/ondeck/public_html/sites/default/settings.custom.php
      aws s3 cp s3://eiti-$AWS_S3_ENV_NAME-conf/robots.txt /var/app/ondeck/public_html && sudo chown webapp:webapp /var/app/ondeck/public_html/robots.txt






container_commands:
  01-execute-script:
    command: "sh /tmp/s3cfgfile.sh"

  02-clean-tmp:
    command: "rm -f /tmp/s3cfgfile.*"
