files:
  "/tmp/s3cfgfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      aws s3 cp s3://coop-$AWS_S3_ENV_NAME-s3-conf/settings_aws.php /var/app/ondeck/www/web/sites/default


container_commands:
  01-execute-script:
    command: "sh /tmp/s3cfgfile.sh"

  02-clean-tmp:
    command: "rm -f /tmp/s3cfgfile.*"