files:
  "/home/ec2-user/phpini.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      rm -f /etc/php.d/z99-project.ini

      cat > /etc/php.d/z99-project.ini << EOF
      upload_max_filesize = 128M
      post_max_size = 128M
      memory_limit = 512M
      allow_url_fopen = On
      max_input_vars = 4096
      realpath_cache_size = 256k
      realpath_cache_ttl = 3600

      [opcache]
      opcache.enable = 1
      opcache.enable_cli = 1
      opcache.memory_consumption = 128
      opcache.interned_strings_buffer = 8
      opcache.max_accelerated_files = 100000
      opcache.revalidate_freq = 60
      opcache.save_comments = 1
      opcache.load_comments = 1
      opcache.fast_shutdown = 1
      EOF

container_commands:
  01-install-file:
    command: "/home/ec2-user/phpini.sh"

  02-cleanup-file:
    command: "rm -f /home/ec2-user/phpini.sh"
