files:
  "/home/ec2-user/phpini.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      rm -f /etc/php.d/z99-project.ini

      cat > /etc/php.d/z99-project.ini << EOF
      upload_max_filesize = 128M
      post_max_size = 128M
      memory_limit = 512M
      max_input_vars = 8000
      max_execution_time = 300

container_commands:
  01-install-file:
    command: "/home/ec2-user/phpini.sh"

  02-cleanup-file:
    command: "rm -f /home/ec2-user/phpini.sh"
