Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: eiti-private-assets

files:
  "/etc/pki/tls/certs/localhost.crt":
    mode: "000655"
    owner: root
    group: root
    source: https://eiti-private-assets.s3.amazonaws.com/ssl/cert.pem

  "/etc/pki/tls/private/localhost.key":
    mode: "000655"
    owner: root
    group: root
    source: https://eiti-private-assets.s3.amazonaws.com/ssl/key.pem

  "/etc/pki/tls/certs/server-chain.crt":
    mode: "000655"
    owner: root
    group: root
    source: https://eiti-private-ssl.s3.amazonaws.com/ssl/DigiCertSHA2HighAssuranceServerCA.crt

packages:
  yum:
    mod24_ssl: ""

container_commands:

  01-api-config:
    command: "cp -f .ebextensions/httpd/api.conf /etc/httpd/conf.d/api.conf"
