.predefined-widget,
.panel-pane {
    .pane-title-wrapper {
        color: @clnormal;
        padding: 1.5em 0;
        .title {
            color: @clnormal;
            display: inline;
            font-size: 1.875rem;
            line-height: 2.5rem;
            font-weight: 300;
            margin: 0;
            vertical-align: middle;
        }
        .icon {
            fill: @clanchor;
            display: inline;
            margin-right: 1em;
            vertical-align: middle;
        }
        position: relative;
        .anchor-link {
            display: none;
            position: absolute;
            left: -2em;
            line-height: 2.5rem;
        }
        &:hover {
            .anchor-link {
                display: block;
            }
        }
    }
    .field-name-field-fpp-widget {
        margin-bottom: 0;
        margin-top: 0;
    }
    .pdf-link {
        a {
            display: inline-block;
            padding-left: 20px;
            background: url(~"@{base_path}modules/file/icons/application-pdf.png") no-repeat 0 center;
        }
    }
}

.xNormalAndUp() {
    // Force the map height on large displays.
    .semi-interactive-map-wrapper.media-resizable-wrapper {
        padding-top: 40em;
    }
    .predefined-widget,
    .panel-pane {
        .pane-title-wrapper {
            color: @clnormal;
            padding: 2.25em 0;
            .title {
                font-size: 3rem;
                line-height: 3.75rem;
            }
            .anchor-link {
                line-height: 3.75rem;
            }
        }
    }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';