.pane-articles {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .articles {
        position: relative;
        .top,
        .bottom {
            text-align: right;
            a {
                position: relative;
                padding-left: 1.625rem;
                &:before {
                    content: "";
                    background-image: url(~"@{theme_path}images/icons/angle-right-blue.svg");
                    background-size: contain;
                    display: inline-block;
                    width: 10px;
                    height: 14px;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    -webkit-transition: -webkit-transform 200ms ease;
                    transition: -webkit-transform 200ms ease;
                    transition: transform 200ms ease;
                    transition: transform 200ms ease, -webkit-transform 200ms ease;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
                &:hover {
                    &:before {
                        -webkit-transform: translateX(5px);
                        transform: translateX(5px);
                    }
                }
            }
        }
        .top {
            position: absolute;
            top: 40px;
            right: 0;
        }
    }
    .view-articles {
        .view-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -12px;
            margin-left: -12px;
            .single-fluid-row-wrapper {
                width: auto;
                padding: 0;
            }
            .views-row {
                padding-left: 12px;
                padding-right: 12px;
                -ms-flex: 0 0 50%;
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;
                min-height: 26.25rem;
                overflow: hidden;
                margin-bottom: 24px;
            }
            .views-field {
                height: 100%;
                .node-article {
                    background-color: @clnormal;
                    height: 100%;
                    position: relative;
                }
            }
            .title {
                font-size: 1.5rem;
                line-height: 2.25rem;
                a {
                    .link-color(@clmain, @clanchor__hover);
                }
            }
            .field-name-field-article-type,
            .field-name-post-date {
                color: @claltnormal;
                font-size: 1.125rem;
                line-height: 1.875rem;
                display: inline-block;
            }
            .group-main {
                position: absolute;
                z-index: 21;
                bottom: 0;
                left: 0;
                padding: 1.5em 3rem;
                background-color: rgba(19, 40, 86, .84);
                width: 100%;
            }
            .group-above {
                position: absolute;
                z-index: 20;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                .field-name-field-featured-image {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    img {
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }
    .view-display-id-latest_sticky {
        .view-content {
            .views-row {
                -ms-flex: 0 0 100%;
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .group-main {
                width: ~"calc(50% - 12px)";
            }
        }
    }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';