.pane-articles {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .articles {
        position: relative;
        .top,
        .bottom {
            text-align: right;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.875rem;
            a {
                position: relative;
                padding-left: 1.625rem;
                &:before {
                    content: "";
                    background-image: url(~"@{theme_path}images/icons/angle-right-blue.svg");
                    background-size: contain;
                    display: inline-block;
                    width: 10px;
                    height: 14px;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    -webkit-transition: -webkit-transform 200ms ease;
                    transition: -webkit-transform 200ms ease;
                    transition: transform 200ms ease;
                    transition: transform 200ms ease, -webkit-transform 200ms ease;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
                &:hover {
                    &:before {
                        -webkit-transform: translateX(5px);
                        transform: translateX(5px);
                    }
                }
            }
        }
        .top {
            position: absolute;
            top: 55px;
            right: 12px;
        }
    }
    .view-articles {
        .view-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -12px;
            margin-left: -12px;
            .single-fluid-row-wrapper {
                width: auto;
                padding: 0;
            }
            .views-row {
                padding-left: 12px;
                padding-right: 12px;
                -ms-flex: 0 0 50%;
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;
                min-height: 26.25rem;
                overflow: hidden;
                margin-bottom: 24px;
                &:hover {
                    .field-name-field-featured-image {
                        img {
                            transform: scale(1.05) translate(-50%, -50%);
                        }
                    }
                }
            }
            .views-field {
                height: 100%;
                .node-article {
                    background-color: @clnormal;
                    height: 100%;
                    position: relative;
                }
            }
            .field-name-title-field {
                margin: 0;
            }
            .title {
                font-size: 1.5rem;
                line-height: 2.25rem;
                margin: 0 0 .75rem;
                a {
                    .link-color(@clmain, @clanchor__hover);
                }
            }
            .field-name-field-article-type,
            .field-name-post-date {
                color: @claltnormal;
                font-size: 1.125rem;
                line-height: 1.875rem;
                display: inline-block;
                margin: 0;
            }
            .field-name-post-date {
                margin-right: 2.25rem;
            }
            .field-name-body {
                color: @clmain;
                a {
                    .link-color(@clanchor, @clanchor__hover);
                }
            }
            .group-main {
                position: absolute;
                z-index: 21;
                bottom: 0;
                left: 0;
                padding: 1.5em 3rem;
                background-color: rgba(19, 40, 86, .84);
                width: 100%;
            }
            .group-above {
                position: absolute;
                z-index: 20;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                overflow: hidden;
                width: 100%;
                height: 100%;
                .field-name-field-featured-image {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    margin: 0;
                    height: 100%;
                    img {
                        transition: transform 0.3s ease;
                        min-width: 100%;
                        min-height: 100%;
                        max-width: 120%;
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    .view-display-id-latest_sticky,
    .attachment-before {
        .view-content {
            .views-row {
                -ms-flex: 0 0 100%;
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .group-main {
                width: ~"calc(50% - 12px)";
            }
        }
    }
}

.xMediumAndDown() {
    .pane-articles {
        .articles {
            .top {
                top: 38px;
            }
        }
        .view-articles {
            .view-content {
                .views-row {
                    min-height: 18rem;
                }
                .title {
                    font-size: 1.125rem;
                    line-height: 1.875rem;
                }
                .field-name-field-article-type,
                .field-name-post-date {
                    font-size: 0.875rem;
                    line-height: 1.375rem;
                }
                .group-main {
                    padding: 1.125em;
                }
            }
        }
    }
}

.xSmallOnly() {
    .pane-articles {
        .articles {
            position: relative;
            .top,
            .bottom {
                font-size: 1rem;
                line-height: 1.5rem;
                a {
                    position: relative;
                    padding-left: 1.25rem;
                    &:hover {
                        &:before {
                            -webkit-transform: translateX(5px);
                            transform: translateX(5px);
                        }
                    }
                }
            }
            .top {
                a {
                    display: none;
                }
            }
        }
        .view-articles {
            .view-content {
                margin: 0;
                .views-row {
                    -ms-flex: 0 0 100%;
                    -webkit-box-flex: 0;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 0;
                }
                .views-field {
                    .node-article {
                        margin: 0;
                    }
                }
            }
        }
        .view-display-id-latest_sticky,
        .attachment-before {
            .view-content {
                .group-main {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .pane-articles {
        .view-articles {
            .view-content {
                .group-above {
                    .field-name-field-featured-image {
                        img {
                            transition: transform 0.3s ease;
                            min-width: initial;
                            max-height: 100%;
                            max-width: initial;
                            position: absolute;
                            display: block;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';