
// @TODO: Cleanup!
.predefined-widget--bookmarks {
  .bookmark-items-wrapper {
    margin: 2em 0;
    padding: 0;

    // Add some spacing.
    padding-bottom: 1px;
    padding-top: 1px;

    & > li {
      display: inline-block;
      float: left;

      // Add some spacing.
      padding: 1px;
    }
  }

  .field {
    margin: 0;
  }

  .linked-wrapper {
    display: block;
    .link-color(@claltnormal__light, @clactive__alt);
    .transition(color, 400ms, ease-in);
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;

    // Allow the .overlay-wrapper to be positioned relatively.
    position: relative;

    // HACK: Force minimum size when something went wrong and the image didn't load.
    @item_size: 14.875em;
    min-height: @item_size;
    min-width: @item_size;
  }

  .overlay-wrapper {
    padding: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .overlay-wrapper {
    .title {
      margin: 0;
    }
  }

  .field-name-field-bm-image {
    .transition(opacity, 400ms, ease-in);
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }
  }
}

.xMediumAndDown() {
  .predefined-widget--bookmarks {
    .bookmark-items-wrapper {
      text-align: center;
      & > li {
        float: none;
        margin: 0 auto;
        max-width: 100%
      }
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
