
// @TODO: Cleanup!
.predefined-widget--bookmarks {
  .bookmark-items-wrapper {
    margin: 2em 0;
    padding: 0;

    // Add some spacing.
    padding-bottom: 1px;
    padding-top: 1px;

    & > li {
      display: inline-block;
      float: left;

      // Add some spacing.
      padding: 1px;
    }
  }

  .field {
    margin: 0;
  }

  .linked-wrapper {
    .link-color(@claltnormal__light, @clactive__alt);
    .transition(color, 400ms, ease-in);

    display: block;
    background-color: @claltmain;
    text-shadow: 0 0 2px fade(@claltmain, 10%);

    // Allow the .overlay-wrapper to be positioned relatively.
    position: relative;

    &:hover .field-name-field-bm-image::before {
      background-color: fade(@claltmain, 90%);
    }
  }

  .overlay-wrapper {
    padding: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .overlay-wrapper {
    .title {
      margin: 0;
    }
  }

  .field-name-field-bm-image {
    .transition(opacity, 400ms, ease-in);
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }

    &::before {
      .transition(background-color, 400ms, ease-in);

      content: " ";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: fade(@claltmain, 40%);
    }
  }
}
.xSmallOnly() {
  .predefined-widget--bookmarks {
    // @TODO: Remove!!
    .overlay-wrapper {
      position: static;
    }
    .field-name-field-bm-image + .overlay-wrapper {
      position: absolute;
    }
  }
}

.xMediumAndDown() {
  .predefined-widget--bookmarks {
    .bookmark-items-wrapper {
      text-align: center;
      & > li {
        float: none;
        margin: 0 auto;
        max-width: 100%
      }
    }
  }
}

.xMediumAndUp() {
  .predefined-widget--bookmarks {
    // HACK: Force bookmark size when there is no image or something went wrong and the image didn't load.
    .view-mode-bm_small_tile {
      .linked-wrapper {
        min-height: (234/16) * 1em;
        min-width: (234/16) * 1em;
      }
    }
    .view-mode-bm_medium_tile {
      .linked-wrapper {
        min-height: (234/16) * 1em;
        min-width: (470/16) * 1em;
      }
    }
    .view-mode-bm_large_tile {
      .linked-wrapper {
        min-height: (470/16) * 1em;
        min-width: (470/16) * 1em;
      }
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
