.predefined-widget--countdown {
    .countdown-content {
        padding: 60px 0;
        color: #fff;
        background-color: #196080;
    }
    .title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .field-name-field-fpp-image {
        text-align: center;
        margin-bottom: 2.5em;
        img {
            max-height: 160px;
        }
    }
    .field-name-field-fpp-body {
        margin: 0 0 1em;
        text-align: center;
        font-size: 1.25rem;
        span {
            margin-left: 1.25em;
            margin-right: 1.25em;
        }
    }
    .field-name-field-fpp-text {
        margin: 0 0 1em;
        text-align: center;
        font-size: 1.25rem;
    }
    .field-name-field-fpp-datetime {
        margin-top: 5rem;
        .is-countdown {
            border: none;
            background: transparent;
            display: flex;
            max-width: 400px;
            align-items: center;
            justify-content: space-between;
            margin: auto;
        }
        .countdown {
            min-width: 60px;
            .label {
                color: white;
                font-size: 1.125rem;
                display: block;
                text-align: center;
                font-weight: 500;
            }
            .value {
                font-size: 2.5rem;
                display: block;
                text-align: center;
                font-weight: bold;
            }
        }
    }
    .field-name-field-fpp-link {
        text-align: center;
        margin: 50px 0 0;
        a {
            .border-radius(11px);
            display: inline-block;
            border: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 1.5em;
            padding: 0.2em 1.875em 0.3em;
            color: @clmain;
            margin: 0;
            font-weight: 700;
            .transition(background-color, 400ms, ease-in);
            background: rgba(0, 0, 0, 0.4);
            &:hover {
                background-color: @cldetail__alt;
            }
        }
    }
}

.xSmallOnly() {
    .predefined-widget--countdown {
        .field-name-field-fpp-datetime {
            .countdown {
                min-width: 50px;
                .value {
                    font-size: 2rem;
                }
            }
        }
    }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';