
.predefined-widget--fact-blocks {
  .fact-blocks-wrapper {
    padding: 3em 0;
    margin: 0;

    li {
      .box-sizing();
      display: inline-block;
      padding: 0 0.5em;
    }
  }

  .widget-icon-value-suffix-wrapper {
    color: @claltnormal__light;
    font-weight: bold;
    line-height: 3em;

    .value,
    .suffix {
      font-size: 3em;
    }

    .icon {
      fill: @claltnormal;
    }
  }

  .widget-description {
    border-top: 1px solid fade(@claltnormal, 60%);
    color: @claltnormal;
    font-size: 0.875em;
  }
}

.xMediumAndDown() {
  .predefined-widget--fact-blocks {
    .fact-blocks-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        -ms-flex: 50%;
        flex: 50%;
        min-width: 12em;
        margin-bottom: 1em;
        margin-top: 1em;
      }
    }
  }
}
.xNormalAndUp() {
  .predefined-widget--fact-blocks {
    .fact-blocks-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      justify-content: space-around;
      li {
        -ms-flex: 25%;
        flex: 25%;
      }
    }
  }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
