
.predefined-widget--fact-blocks {
  .pane-title-wrapper {
    margin: 1em 0;
  }
  .fact-blocks-wrapper {
    padding: 3em 0;
    margin: 0;

    li {
      .box-sizing();
      display: inline-block;
      padding: 0 0.5em;
    }
  }

  .widget-icon-value-suffix-wrapper {
    color: @claltnormal__light;
    font-weight: bold;
    line-height: 3em;

    .value,
    .suffix {
      font-size: 3em;
    }

    .icon {
      fill: @claltnormal;
    }
  }

  .widget-description {
    border-top: 1px solid fade(@claltnormal, 60%);
    color: @claltnormal;
    font-size: 0.875em;
  }

  .digits-bigger {
    .widget-value .value {
      font-size: 4em;
    }
  }
  .digits-big {
    .widget-value .value {
      font-size: 5em;
    }
  }
  .digits-huge {
    .widget-value .value {
      font-size: 6em;
    }
  }

  .overlay-wrapper {
    h2 {
      padding-top: 1em;
    }
    &.overlay-padding-2 {
      padding-top: 2em;
      padding-bottom: 2em;
    }
    &.overlay-padding-4 {
      padding-top: 4em;
      padding-bottom: 4em;
    }
    &.overlay-padding-6 {
      padding-top: 6em;
      padding-bottom: 6em;
    }
    &.overlay-padding-8 {
      padding-top: 8em;
      padding-bottom: 8em;
    }
    &.overlay-padding-10 {
      padding-top: 10em;
      padding-bottom: 10em;
    }
  }

  .align-centered {
    .fact-block-wrapper {
      text-align: center;

      .widget-icon {
        display: inline-block;
        float: none;
        vertical-align: text-bottom;
      }
      .widget-value {
        width: auto;
        display: inline-block;
      }
    }
  }
}

.xMediumAndDown() {
  .predefined-widget--fact-blocks {
    .fact-blocks-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        -ms-flex: 50%;
        flex: 50%;
        min-width: 12em;
        margin-bottom: 1em;
        margin-top: 1em;
      }
    }
  }
}
.xNormalAndUp() {
  .predefined-widget--fact-blocks {
    .fact-blocks-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      justify-content: space-around;
      li {
        -ms-flex: 25%;
        flex: 25%;
      }
    }
  }
}

.xSmallOnly() {
  .predefined-widget--fact-blocks {
    .align-centered {
      li {
        -ms-flex: 100%;
        flex: 100%;
      }
    }
  }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
