
.predefined-widget--header {
  position: relative;
  overflow: hidden;

  .links-wrapper {
    padding: 1em 0;
  }

  .links {
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      line-height: 2em;
    }
    .link {
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .no-background-image {
    color: @clanchor;

    .links-wrapper {
      border-top: 1px solid @clmain__separator;
      background-color: #FAFAFA;
      padding: 1em 0;
    }

    .link {
      .link-color(@clanchor, @clanchor__hover);

      .icon {
        margin-right: 0.5em;
        fill: @clnormal__alt;
      }
      &:hover .icon {
        fill: @clanchor__hover;
      }
    }
  }

  .with-background-image {
    background-color: #000000;
    color: @claltnormal__light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .overlay-wrapper {
      padding-bottom: 1em;
      padding-top: 1em;
    }

    .title {
      font-size: 2em;
      font-weight: 300;
      margin: 0;
    }
    .subtitle {
      color: @claltnormal;
      font-size: 1.5em;
      font-weight: 300;
      text-transform: uppercase;
    }

    .links-wrapper {
      border-top: 1px solid #DFDFDF;
      margin: 1em 0;
    }

    .link {
      .link-color(@claltnormal__light, @clanchor__hover);

      .icon {
        margin-right: 0.5em;
        fill: @claltnormal;
      }
      &:hover .icon {
        fill: @clanchor__hover;
      }
    }
  }
}

.xMediumAndDown() {
  .predefined-widget--header {
    .links {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        -ms-flex: 50%;
        flex: 50%;
        min-width: 19em;
        line-height: 3em;
      }
    }
    .with-background-image {
      background-size: 160% auto;  // Make images larger on small screens.
    }
  }
}
.xNormalAndUp() {
  .predefined-widget--header {
    .with-background-image {
      .title {
        font-size: 2.5em;
      }
    }
    .links {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      justify-content: space-around;
      li {
        -ms-flex: 1;
        flex: 1;
      }
    }
    .with-background-image {
      .overlay-wrapper {
        padding-bottom: 10%;
        padding-top: 10%;
      }
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
