.predefined-widget--header {
    position: relative;
    overflow: hidden;
    .links-wrapper {
        padding: 1em 0;
    }
    .links {
        margin: 0 auto;
        padding: 0;
        li {
            display: inline-block;
            line-height: 2em;
        }
        .link {
            font-weight: normal;
            text-transform: uppercase;
        }
    }
    .two-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .column-right {
            min-width: 31rem;
            background-position: center;
            background-size: cover;
            margin-right: -6rem;
        }
        .column-left {
            background: linear-gradient(277.4deg, rgba(255, 255, 255, 0) 0%, #EEEEF0 100%);
            margin-left: -6rem;
            padding: 5rem 6rem 4rem;
            .title {
                font-size: 3rem;
                line-height: 3.75rem;
                font-weight: 300;
                color: @clnormal;
                margin-top: 0;
                margin-bottom: 2.25rem;
            }
            .subtitle {
                font-size: 1.5rem;
                line-height: 2.25rem;
                font-weight: bold;
                color: @cldetail__alt;
                margin: 2rem 0;
            }
            .links {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                li {
                    margin-right: 40px;
                    -webkit-box-flex: 0;
                    -ms-flex: 0;
                    flex: 0 1 auto;
                }
                .link {
                    font-weight: bold;
                    text-transform: none;
                    font-size: 1.125rem;
                    line-height: 1.875rem;
                    color: @clanchor;
                    white-space: nowrap;
                    svg {
                        vertical-align: baseline;
                        margin-right: .5rem;
                        path {
                            -webkit-transition: all 400ms ease-in;
                            -o-transition: all 400ms ease-in;
                        }
                    }
                    &:focus,
                    &:hover,
                    &.active,
                    &:active {
                        color: @clactive__alt;
                        svg {
                            path {
                                stroke: @clactive__alt;
                            }
                        }
                    }
                }
            }
        }
    }
    .no-background-image {
        color: @clanchor;
        .links-wrapper {
            border-bottom: 1px solid @clmain__separator;
            border-top: 1px solid @clmain__separator;
            background-color: #FAFAFA;
            padding: 1em 0;
        }
        .link {
            .link-color(@clanchor, @clanchor__hover);
            .icon {
                margin-right: 0.5em;
                fill: @clnormal__alt;
            }
            &:hover .icon {
                fill: @clanchor__hover;
            }
        }
    }
    .with-background-image,
    .with-background-video {
        color: @claltnormal__light;
        .title {
            font-size: 2em;
            font-weight: 300;
            margin-bottom: 0;
        }
        .subtitle {
            color: @claltnormal;
            font-size: 1.5em;
            font-weight: 300;
            text-transform: uppercase;
        }
        .links-wrapper {
            border-top: 1px solid fade(@clmain__separator, 60%);
            margin: 1em 0;
        }
        .link {
            .link-color(@claltnormal__light, @clanchor__hover);
            .icon {
                margin-right: 0.5em;
                fill: @claltnormal;
            }
            &:hover .icon {
                fill: @clanchor__hover;
            }
        }
    }
    .with-background-video {
        background-size: cover;
        background-position: center center;
        background-color: @claltmain;
        color: @clmain;
        text-shadow: 0 0 0.25em fade(@claltmain, 90%);
        a {
            .link-color(@clmain, @clactive__alt);
        }
        &.with-overlay {
            position: relative;
            z-index: 0; // @TODO: Make the image darker in image styles.
            &::before {
                .transition(background-color, 400ms, ease-in);
                content: ' ';
                background-color: fade(@claltmain, 60%);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 10;
            }
        }
        .video-wrapper {
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            overflow: hidden;
            video {
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
            }
        }
        .overlay-wrapper {
            position: absolute;
            z-index: 20;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        &.height-overlay {
            .overlay-wrapper {
                position: relative;
                -webkit-transform: none;
                transform: none;
                top: auto;
                left: auto;
            }
            .video-wrapper {
                position: absolute;
                video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
            &.overlay-padding-2 {
                .overlay-wrapper {
                    padding: 2em 0;
                }
            }
            &.overlay-padding-4 {
                .overlay-wrapper {
                    padding: 4em 0;
                }
            }
            &.overlay-padding-6 {
                .overlay-wrapper {
                    padding: 6em 0;
                }
            }
            &.overlay-padding-8 {
                .overlay-wrapper {
                    padding: 8em 0;
                }
            }
            &.overlay-padding-10 {
                .overlay-wrapper {
                    padding: 10em 0;
                }
            }
        }
        .media-controllers {
            position: absolute;
            top: 1em;
            right: 1em;
            z-index: 100;
            .controller {
                margin: 0.5em;
                text-align: center;
                display: none;
                svg {
                    display: inline-block;
                    cursor: pointer;
                    fill: @clmain;
                }
                &.icon--media-play {
                    display: block;
                }
                &.icon--media-unmute {
                    display: block;
                }
            }
            &.playing {
                .icon--media-play {
                    display: none;
                }
                .icon--media-pause {
                    display: block;
                }
            }
            &.muted {
                .icon--media-mute {
                    display: block;
                }
                .icon--media-unmute {
                    display: none;
                }
            }
        }
    }
}

.xMediumAndDown() {
    .predefined-widget--header {
        .two-column {
            width: 100%;
            padding: 0;
            .column-right {
                min-width: 40%;
                background-position: center;
                background-size: cover;
                margin-right: 0;
            }
            .column-left {
                margin-left: 0;
                padding: 2.5rem 3rem 2rem;
                .title {
                    font-size: 2.25rem;
                    line-height: 2.5rem;
                    margin-bottom: 1.5rem;
                }
                .subtitle {
                    font-size: 1.125rem;
                    line-height: 1.875rem;
                    margin: 1rem 0;
                }
                .links {
                    .link {
                        font-size: 1rem;
                        line-height: 1.5rem;
                        svg {
                            display: inline-block;
                            margin-bottom: 5px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

.xMediumAndDown() {
    .predefined-widget--header {
        .links {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            li {
                -ms-flex: 50%;
                -webkit-box-flex: 50%;
                flex: 50%;
                min-width: 19em;
                line-height: 3em;
            }
        }
    }
}

.xSmallOnly() {
    .predefined-widget--header {
        .two-column {
            margin: 0;
            display: block;
            .column-right {
                display: none;
            }
            .column-left {
                margin-left: 0;
                padding: 2.25rem 1.5rem 1.25rem !important;
                .links {
                    li {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}

.xNormalAndUp() {
    .predefined-widget--header {
        .with-background-image {
            .title {
                font-size: 2.5em;
            }
            .overlay-wrapper {
                padding-bottom: 10%;
                padding-top: 10%;
            }
        }
        .links {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            li {
                -ms-flex: 1;
                -webkit-box-flex: 1;
                flex: 1;
            }
        }
    }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';