.pane-map-full {
    .semi-interactive-map-wrapper.media-resizable-wrapper {
        padding-top: 0;
        height: auto;
    }
    .media-resizable-wrapper {
        .media-resizable-element {
            position: relative;
        }
        .map-wrap {
            position: relative;
            height: 100%;
            width: 100%;
            .map {
                height: 640px;
                width: 100%;
            }
        }
    }
    .map-option-wrapper {
        background-color: white;
    }
    .eiti-map-wrapper {
        .legend {
            margin-bottom: 2.25rem;
            width: 100%;
            h2 {
                padding-top: 0;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: bold;
                padding-bottom: 1.5rem;
            }
        }
    }
}

.xSmallOnly() {
    .pane-map-full {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        .eiti-map-wrapper {
            .legend {
                width: auto;
            }
        }
    }
}

.xMediumOnly() {
    .pane-map-full {
        .single-fluid-row-wrapper(8);
    }
}

.xMediumAndUp() {
    .pane-map-full {
        .single-fluid-row-wrapper(8);
        .eiti-map-wrapper {
            .legend {
                // .single-fluid-row-wrapper(8);
                h2 {
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                    padding-bottom: 1.5rem;
                }
            }
        }
        .media-resizable-wrapper {
            .map-wrap {
                .map {
                    height: 740px;
                }
            }
        }
        .map-container {
            display: flex;
            flex-wrap: wrap;
        }
        .map-data {
            -ms-flex: 0 0 75%;
            -webkit-box-flex: 0;
            flex: 0 0 75%;
            max-width: 75%;
            padding-right: 2.25rem;
            box-sizing: border-box;
        }
        .map-option-wrapper {
            -ms-flex: 0 0 25%;
            -webkit-box-flex: 0;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .map-option-widget {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.xNormalAndUp() {
    .pane-map-full {
        .single-fluid-row-wrapper(12);
        .eiti-map-wrapper {}
    }
}

@import '../lib/custom-grid.less';
@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';