
// TODO: Add quotes!
.predefined-widget--quote {
  background-color: @claltmain;
  color: @claltnormal__light;

  .fieldable-panels-pane {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .overlay-wrapper {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .linked-wrapper {
    .link-color(@claltnormal__light, @clactive__alt);
    display: block;
  }

  .field-name-field-fpp-quote {
    font-size: 1.25em;
    line-height: 1.3;
  }

  footer {
    margin: 2em 0;
    text-align: center;
  }
  cite {
    font-style: normal;
  }
}

.xNormalAndUp() {
  .predefined-widget--quote {
    .field-name-field-fpp-quote {
      font-size: 1.6em;
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
