
.predefined-widget--value-chain {
  margin-bottom: 1em;

  .value-chain-list {
    font-weight: bold;
    margin: 0;
    padding: 1em;
    list-style-type: none;

    & > li {
      display: inline-block;
      padding: 1em 0;
    }
  }

  .value-chain-wrapper {
    margin: 0 0.75em;

    position: relative;
    .arrow {
      position: absolute;
      right: -1em;
      top: 50%;
      .icon {
        fill: @clmain__separator;
        //position: relative;
        //top: -3em;
        margin-top: -3em;
      }
    }

    .chain-info {
      display: block;

      .link-color(@clnormal, @clanchor__hover);
      .icon {
        padding-right: 2em;
        fill: @clanchor;
      }
      &:hover {
        .icon {
          fill: @clanchor__hover;
        }
      }
    }

    .title {
      border-top: 1px solid @clmain__separator;
      border-bottom: 1px solid @clmain__separator;
      margin: 0.5em 0;
      padding: 0.5em 0.25em;

      font-size: 0.875em;
      line-height: 1.3em;
      min-height: 2.6em;
    }


  }
}

.xMediumAndDown() {
  .predefined-widget--value-chain {
    .value-chain-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
}
.xNormalAndUp() {
  .predefined-widget--value-chain {
    .value-chain-list {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
