
.predefined-widget--wide-image {
  position: relative;
  overflow: hidden;

  .wide-image-background {
    background-color: #000000;
    color: @claltnormal__light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .overlay-wrapper {
      padding-bottom: 10%;
      padding-top: 10%;
    }
  }

  .wide-image-links-wrapper {
    border-top: 1px solid #DFDFDF;
    margin: 2em 0;
    padding: 1em 0 0;

    li {
      display: inline-block;
      line-height: 2em;
    }
    .link {
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .wide-image-background {
    .title {
      color: @claltnormal;
      text-transform: uppercase;
    }
    .subtitle {
      font-size: 1.5em;
    }

    .wide-image-links-wrapper {
      .link {
        .link-color(@claltnormal__light, @clanchor__hover);

        .icon {
          margin-right: 0.5em;
          fill: @claltnormal__light;
        }
        &:hover .icon {
          fill: @clanchor__hover;
        }
      }
    }
  }
}

.xMediumAndDown() {
  .predefined-widget--wide-image {
    .wide-image-links-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      li {
        flex: 50%;
      }
    }
    .wide-image-background {
      background-size: 160% auto;  // Make images larger on small screens.
    }
  }
}
.xNormalAndUp() {
  .predefined-widget--wide-image {
    .subtitle {
      font-size: 2.5em;
    }
    .wide-image-links-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
