/**
 * @file
 * Override adminimal theme styles.
 */

/* HACK: Always show scroll-bar on admin pages. */
html {
  overflow-y: scroll;
}

.media-item .label-wrapper label {
  font-size: 8px;
  line-height: 1.5;
}

.media-list-thumbnails li a {
  display: block;
  height: 100px;
  width: 100px;
}

.fix-ctools-dropbutton .ctools-dropbutton-processed {
  position: absolute;
  margin-top: -15px;
}
