
.country-banner-wrapper {
  &.no-background-image {
    margin: 1.5em 0;
  }

  img {
    margin-right: 2em;
  }
  .page-title {
    display: inline;
    margin: 0;

    line-height: 100%;  // HACK: Make sure the page title doesn't change the wrapper height.
  }
}
.xMediumAndUp() {
  .country-banner-wrapper {
    &.with-background-image {
      padding-bottom: 6%;
      padding-top: 6%;
      background-color: transparent;
    }
  }
}

.country-information-wrapper {
  font-size: 0.875em;

  .info {
    margin: 1em 0;

    .bottom {
      margin-top: 0.5em;
    }
  }

  .icon {
    fill: @clnormal__alt;
  }
  .value {
    font-weight: bold;
  }
}

.xMediumOnly() {
  .country-information-wrapper {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .info {
      -ms-flex: 50%;
      flex: 50%;
    }
  }
}
.xNormalAndUp() {
  .country-information-wrapper {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    .info {
      -ms-flex: 25%;
      flex: 25%;
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
