
.country-banner-wrapper {
  &.with-background-image {
    background-color: @clmain__separator;
    color: @clnormal__dark;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }
  &.no-background-image {
    margin: 2em 0;
  }

  img {
    margin-right: 2em;
  }
  .page-title {
    color: @clnormal__dark;
    display: inline;
    margin: 0;

    line-height: 100%;  // HACK: Make sure the page title doesn't change the wrapper height.
  }
}

.country-information-wrapper {
  .info {
    margin: 1em 0;
  }

  .icon {
    fill: @clnormal__alt;
  }
  .value {
    font-weight: bold;
  }
}

.xSmallOnly() {
  .country-banner-wrapper {
    &.with-background-image {
      padding: 2em 0;
    }
  }
}
.xMediumOnly() {
  .country-banner-wrapper {
    &.with-background-image {
      // NOTE: We only have a single line in this widget.
      line-height: 10em;
    }
  }
  .country-information-wrapper {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .info {
      -ms-flex: 50%;
      flex: 50%;
    }
  }
}
.xNormalAndUp() {
  .country-banner-wrapper {
    &.with-background-image {
      // NOTE: We only have a single line in this widget.
      line-height: 20em;
    }
  }
  .country-information-wrapper {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    .info {
      -ms-flex: 25%;
      flex: 25%;
    }
  }
}


@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
