.minimalistic-wrapper {
  background-color: @clmain__header;
  min-height: 3em;

  .minimalistic-logo-link {
    float: left;
    margin: 0.75em 0;
    text-align: center;
    line-height: 1.2em;
    img {
      width: 50%;
      height: auto;
    }
  }
  .minimalistic-page-title {
    padding: 0 100px 0 0;
    margin: 9px 15px;
    font-size: 1.25em;
    line-height: 1.5em;
    display: inline-block;
  }
  .header-items {
    line-height: 3em;
    margin-right: 2em;
    position: absolute;
    right: 0;
    width: auto;
    display: inline-block;

    > nav, > .header-close-action, > .header-show-action {
      display: inline-block;
      float: none;
    }

    .header-close-action, .header-show-action {
      margin-left: 1em;
      font-size: 0.8em;
    }

  }

  &.minimalistic-footer {
    padding: 0 0;
    min-height: 0;
    display: none;

    .single-fluid-row-wrapper {
      position: relative;
      background: inherit;
    }
    .footer-description {
      width: 60%;
      display: inline-block;
      font-size: 0.8em;
    }
    .footer-references {
      width: 35%;
      margin-left: 5%;
      display: inline-block;
      font-size: 0.8em;
      vertical-align: top;
    }

    .footer-close-action, .footer-show-action {
      font-size: 0.8em;
      .border-radius(5px);
      position: absolute;
      background: inherit;
      padding: 5px 10px 10px;
      right: 0;
      top: -25px;
    }

    &.no-closing-button {
      display: block;
    }
  }
  &.close-bottom-position {
    .footer-close-action, .footer-show-action {
      padding: 10px 10px 5px;
      right: 0;
      bottom: -25px;
      top: initial;
      z-index:100;
    }
  }
}

.xSmallOnly() {
  .minimalistic-wrapper {
    text-align: center;

    .header-items {
      float: none;
      text-align: center;
      width: 100%;
      position: static;
    }

    .minimalistic-logo-link {
      //float: none;
    }

    .minimalistic-page-title {
      padding: 0;
    }
  }
}

@import '../lib/custom-responsive.less';
@import '../lib/helpers.less';
