
.field {
  margin: 1em 0;
  .fieldable-panels-pane > & {
    margin: 0;
  }

  a {
    word-break: break-all;
  }
}

.field {
  &.field-label-inline .field-label,
  .label-inline {
    display: inline;
    font-weight: bold;
  }

  .label-above {
    font-weight: bold;
  }
}

// @TODO: Update markup for document and person entities teaser and apply proper styling.
.group-side {
  & > img {
    border: 1px solid @clmain__separator;
  }
}

@import './lib/custom-responsive.less';
@import './lib/helpers.less';
