.field {
    margin-top: 1em;
    margin-bottom: 1em;
    .fieldable-panels-pane>& {
        margin: 0;
    }
}

.field {
    &.field-label-inline .field-label,
    .label-inline {
        display: inline;
        font-weight: bold;
    }
    .label-above {
        font-weight: bold;
    }
}

.field-highlighted {
    background-color: @clmain__header;
    border: 1px solid @clmain__separator;
    padding: 1em !important; // Fix for article page where layout is set on field wrappers.
}

.image-wrapped {
    img {
        border: 1px solid @clmain__separator;
        padding: 1px;
    }
}

.article-header {
    .title {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: @claltmain;
    }
    &.with-background-image {
        @aspect_ratio: 10.5%;
        display: block; // We need a block element for this to work.
        height: auto;
        padding-top: @aspect_ratio;
    }
    &.with-background-image>.overlay-wrapper {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
}

.with-background-image {
    background-size: cover;
    background-position: center center;
    background-color: @claltmain;
    color: @clmain;
    text-shadow: 0 0 0.25em fade(@claltmain, 90%);
    .title {
        color: @clmain;
    }
    a {
        .link-color(@clmain, @clactive__alt);
    }
    &.with-overlay {
        position: relative; // @TODO: Make the image darker in image styles.
        &::before {
            .transition(background-color, 400ms, ease-in);
            content: ' ';
            background-color: fade(@claltmain, 40%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &.hover::before {
            background-color: fade(@claltmain, 90%);
        }
    }
    .overlay-wrapper {
        position: relative;
    }
}

.article-info-wrapper {
    background-color: @clmain__header;
}

.article-info {
    padding: 0.5em;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    position: relative;
    &:before {
        content: "";
        display: block;
        height: 1px;
        border-bottom: 1px solid @clmain__separator;
        position: absolute;
        top: 0;
        width: 100vw;
        left: ~"calc(-1 * (100vw - 100%) / 2)";
    }
    &:after {
        content: "";
        display: block;
        height: 1px;
        border-bottom: 1px solid @clmain__separator;
        position: absolute;
        bottom: 0;
        width: 100vw;
        left: ~"calc(-1 * (100vw - 100%) / 2)";
    }
    .field {
        margin-right: 2em;
        &:last-child {
            margin-right: 0;
        }
    }
    .field-name-field-tags {
        flex: 2 2 auto;
    }
    .field-name-field-event-date {
        div {
            display: inline;
        }
    }
    .field-name-post-date {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: @claltdetail;
    }
    .icon {
        // fill: @clanchor;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
    a {
        vertical-align: middle;
        .link-color(@cldetail, @claltnormal);
        text-decoration: underline;
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    &.simple {
        border-bottom: 1px solid @clmain__separator;
        border-top: 1px solid @clmain__separator;
        .field {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.field-name-field-authors {
    position: relative;
    margin: 3rem 0;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    &:before {
        content: "";
        display: block;
        height: 1px;
        border-bottom: 1px solid @clmain__separator;
        position: absolute;
        top: 0;
        width: 100vw;
        left: ~"calc(-1 * (100vw - 100%) / 2)";
    }
    &:after {
        content: "";
        display: block;
        height: 1px;
        border-bottom: 1px solid @clmain__separator;
        position: absolute;
        bottom: 0;
        width: 100vw;
        left: ~"calc(-1 * (100vw - 100%) / 2)";
    }
    .field-label {
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: @clnormal;
        margin-bottom: 1.5rem;
    }
    .field-items {
        margin-left: 0;
    }
    .field-item {
        margin-bottom: 1.5rem;
        &:before,
        &:after {
            clear: both;
            content: " ";
            display: table;
        }
    }
    .field-name-field-person-picture {
        float: left;
        width: 200px;
        margin: 0 1.5rem 0 0;
    }
    h3 {
        margin: 0;
        padding-top: .5rem;
        font-size: 1rem;
        line-height: 1.5rem;
        color: @cldetail;
    }
    .field-name-field-position {
        margin: 0 0 0.75rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.node-article {
    overflow: hidden;
    .article-header {
        &.with-background-image {
            .overlay-wrapper {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                margin-left: auto;
                margin-right: auto;
                padding-left: 0.5em;
                padding-right: 0.5em;
                width: 100%;
                background-color: rgba(19, 40, 86, 0.84);
            }
            +.article-info-wrapper {
                .article-info {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

.xSmallOnly() {
    .article-header {
        &.with-background-image {
            @aspect_ratio: 32%;
            padding-top: @aspect_ratio;
        }
    }
}

.xMediumAndUp() {
    .article-info {
        &:before {
            width: ~"calc(100% + 100px)";
            left: -50px;
        }
        &:after {
            width: ~"calc(100% + 100px)";
            left: -50px;
        }
        .field-name-post-date {
            font-size: 1.125rem;
            line-height: 1.875rem;
        }
        .icon {
            margin-right: 0.75rem;
        }
        a {
            font-size: 1.125rem;
            line-height: 1.875rem;
        }
    }
    .field-name-field-authors {
        .field-label {
            font-size: 1.5rem;
            line-height: 2.25rem;
        }
        h3 {
            padding-top: 1.5rem;
            font-size: 1.125rem;
            line-height: 1.875rem;
        }
        .field-name-field-position {
            margin: 0 0 0.75rem;
            font-size: 1.125rem;
            line-height: 1.875rem;
        }
    }
    .node-article {
        .article-header {
            &.with-background-image {
                .overlay-wrapper {
                    width: ~"calc(50em + 100px)";
                }
            }
        }
    }
    .article-header {
        .title {
            font-size: 3rem;
            line-height: 3.75rem;
            margin-top: 2.25rem;
            margin-bottom: 2.25rem;
        }
    }
}

.xNormalAndUp() {
    .field-name-field-authors {
        position: relative;
        margin: 6rem 0;
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        &:before {
            width: ~"calc(100% + 400px)";
            left: -200px;
        }
        &:after {
            width: ~"calc(100% + 400px)";
            left: -200px;
        }
    }
}

@media (max-width: 550px) {
    .field-name-field-authors {
        .field-name-field-person-picture {
            float: none;
            width: 100%;
            margin: 0;
        }
    }
}

.node-article.view-mode-teaser_alternative {
    .title {
        font-weight: normal;
    }
    .field-name-field-featured-image {
        a {
            .border-radius(6px);
            border: 1px solid @clmain__separator;
            display: block;
            padding: 5px;
        }
        img {
            .border-radius(3px);
        }
    }
}

.node-person {
    .field-name-field-board-membership {
        display: block;
        margin: 0 0 0.5rem 0;
    }
}

.custom-doublelayout.layout-narrow-left-column {
    .group-left {
        .field-items {
            margin-left: 0;
        }
        .field-item {
            margin-bottom: 0.5em;
        }
    }
}

.term-stakeholder-types {
    padding-left: 0;
    border-bottom: 1px solid @clmain__separator;
    li {
        display: inline;
        &:first-child {
            margin-left: 0.5em;
        }
    }
    a {
        background-color: @clmain__header;
        border: 1px solid @clmain__separator;
        display: inline-block;
        margin-bottom: -1px;
        padding: 0.5em;
        &.active {
            background-color: @clmain;
            border-bottom-color: @clmain;
        }
    }
}


/**
 * Style responsive tables.
 */

.table-wrapper {
    overflow: hidden;
    margin: 1em 0;
    &.scroll {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background: -o-linear-gradient( to left, #CCCCCA, rgba(204, 204, 202, 0));
            background: -ms-linear-gradient( to left, #CCCCCA, rgba(204, 204, 202, 0));
            background: linear-gradient( to left, #CCCCCA, rgba(204, 204, 202, 0));
            background: -moz-linear-gradient( to left, #CCCCCA, rgba(204, 204, 202, 0));
            background: -webkit-linear-gradient( to left, #CCCCCA, rgba(204, 204, 202, 0));
            height: 100%;
            width: 29px;
            right: 0;
            opacity: 0.5;
            pointer-events: none;
            z-index: 100;
        }
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    table {
        margin: 0;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .scroll {
        .table-responsive {
            table {
                margin-bottom: 1em !important;
            }
        }
    }
}

@supports (-ms-ime-align:auto) {
    .scroll {
        .table-responsive {
            table {
                margin-bottom: 1em !important;
            }
        }
    }
}

@supports (-ms-accelerator:true) {
    .scroll {
        .table-responsive {
            table {
                margin-bottom: 1em !important;
            }
        }
    }
}

@import './lib/custom-responsive.less';
@import './lib/helpers.less';