
.field {
  margin: 1em 0;
  .fieldable-panels-pane > & {
    margin: 0;
  }
}

.field {
  &.field-label-inline .field-label,
  .label-inline {
    display: inline;
    font-weight: bold;
  }

  .label-above {
    font-weight: bold;
  }
}

.xNormalAndUp() {
  .document-details-wrapper {
    float: left;
    margin-right: 1em;
    max-width: 20em;
  }
}


@import './lib/custom-responsive.less';
@import './lib/helpers.less';
