/**
 * @file
 * Contains layout specific CSS.
 */

// Limit the minimum size of the body in order to prevent issues on smaller devices.
.xSmallOnly() {
  body {
    min-width: 20rem; // 20*16px = 320px
  }
}

.main-content-inner {
  min-height: 20em;
}

.main-content-inner {
  .single-fluid-column(margin);
}

.xSmallOnly() {
  .main-header-inner,
  .main-content-inner,
  .main-footer {
    .single-fluid-column();
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .site-navigation-toggle-wrapper {
    .first-child-column();
  }

  .footer-column {
    .row-separator();
  }
}

.xMediumAndDown() {
  .site-navigation-toggle-wrapper {
    .column(0.8);
    float: right;
    height: 90px;
    margin-right: 0;
  }
  .site-identity-wrapper {
    .column(1.2);
    margin-left: 0;
  }
  .header-items {
    display: none;    
  }
}

.xMediumOnly() {
  .main-header,
  .main-content,
  .main-footer {
    .row-wrapper(8);
  }
  .main-content-inner,
  .footer-identity {
    .single-fluid-column();
  }

  .footer-column {
    .column(4);
    .row-separator();
  }
}

.xNormalAndUp() {
  .main-header,
  .main-content,
  .main-footer {
    .row-wrapper();
  }

  .site-navigation-toggle-wrapper {
    .column(0.8);
    display: inline-block;
    width: auto;
    padding: 0 10px;
    margin: 0;
  }
  .site-identity-wrapper {
    .column(1.3);
  }
  .header-language {
    .column(1.2);
    display: inline-block;
    width: auto;
    margin: 0;
    float: right;
  }
  .header-site-search {
    .column(0.4);
    display: inline-block;
    width: 2rem;
    margin: 0 1.5rem 0 .7rem;
    float: right;
    position: static;
  }  
  .header-items {
    .column(7.5);
  }

  .main-content-inner,
  .footer-identity {
    .single-fluid-column();
  }

  .footer-column {
    .column(3);
  }
}

// HACK: Allow widgets to expand the full width of the page.
.page-layout--widelayout {
  .main-content {
    width: auto;
  }
  .main-content-inner {
    display: block;
    float: none;
    margin: 0;
    position: static;
    width: auto;
  }
}
.xSmallOnly() {
  .page-layout--widelayout {
    .page-title-wrapper {
      .single-fluid-column();
    }
  }
}
.xMediumOnly() {
  .page-layout--widelayout {
    .page-title-wrapper {
      .row-wrapper(8);
      .single-fluid-column(padding);
    }
  }
}
.xNormalAndUp() {
  .page-layout--widelayout {
    .page-title-wrapper {
      .row-wrapper();
      .single-fluid-column(padding);
    }
  }
}

// Use `single-fluid-row-wrapper` class on pages that should expand the full width of the page.
.xSmallOnly() {
  .single-narrow-row-wrapper,
  .single-fluid-row-wrapper {
    .single-fluid-column(margin);
      margin-left: 1.5rem;
      margin-right: 1.5rem;
  }
}
.xMediumOnly() {
  .single-fluid-row-wrapper {
    .single-fluid-row-wrapper(8);
  }
}
.xMediumAndUp() {
  .single-narrow-row-wrapper {
    .single-fluid-row-wrapper(8);
  }
}
.xNormalAndUp() {
  .single-fluid-row-wrapper {
    .single-fluid-row-wrapper(12);
  }
}

.xNormalAndUp() {
  .content-search-page {
    .expand-column();
    .attachment-column-wrapper {
      .column(3);
    }
    .main-column-wrapper {
      .column(9);
    }
  }
}

.xNormalAndUp() {
  .view-publications-search {
    .expand-column();
    .filters-column-wrapper {
      .column(3);
    }
    .main-column-wrapper {
      .column(9);
    }
  }
}

.xNormalAndUp() {
  .custom-doublelayout.layout-narrow-left-column {
    .expand-column();
    .group-left {
      .column(3);
    }
    .group-right {
      .column(9);
    }
  }

  .custom-doublelayout.layout-narrow-right-column {
    .expand-column();
    .group-left {
      .column(9);
    }
    .group-right {
      .column(3);
    }
  }
}

@import './lib/custom-grid.less';
@import './lib/custom-responsive.less';
@import './lib/helpers.less';
