
html {
  background-color: @clmain;
}

.main-content-wrapper {
  background-color: @clcontent;
}

.maintenance-page {
  .main-header {
    position: relative;
  }
  .main-content {
    float: none;
    margin: 1em 0;
    padding: 0 1em 1em;
    min-height: 10em;
    width: auto;
  }
}


@import './lib/custom-responsive.less';
@import './lib/helpers.less';
