
.container-inline {
  div, nav, ul, label {
    display: inline;
  }
  .fieldset-wrapper {
    display: block;
    padding: 1em;
  }
  .field {
    margin-right: 1em;
  }
}

.container-inline-block {
  div, nav, ul, label {
    display: inline-block;
  }
}

.element-no-margin {
  margin: 0;
}

.element-inline {
  display: inline;
}

.messages-wrapper {
  margin: 0 2em;
}

.view-empty {
  margin: 1em 0;
}

ul.tips,
div.description,
.form-item div.description {
  color: #666;
  font-size: 0.923em;
  line-height: 1.231em;
  margin: 5px 0;
}

.media-browser-launch-processed {
  margin: 1em 0;
}

.layout-inline {
  display: inline-block;
}

.layout-separator {
  margin-bottom: @gen_gutter_width * 2;
}
.layout-separator-top {
  margin-top: @gen_gutter_width * 2;
}
.layout-separator-inner {
  padding-bottom: @gen_gutter_width * 2;
  padding-top: @gen_gutter_width * 2;
}

.more-link {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: right;
}

.xMediumAndDown() {
  // Fix wysiwyg image table align hack on mobile browsers.
  table[align="left"],
  table[align="right"] {
    float: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    width: 100% !important;
    td {
      padding: 0;
    }
  }
}

.eiti-map-wrapper {
  .leaflet-top, .leaflet-bottom {
    z-index: 100;  // Reduce the z-index.
  }
}

.xNormalAndUp() {
  .entity-summary-data.view-mode-full {
    .field {
      .clearfix-mixin();
    }
    .label-above {
      width: 40%;
      float: left;
      text-align: right;
    }
    .field-items {
      width: 50%;
      float: left;
    }
    .field-item {
      margin-bottom: 0.5em;
    }
    .field-group-div {
      border: 1px solid @clmain__separator;
      margin: 1em 0;
      padding: 1em;
      h3 {
        margin-top: 0;
      }
    }
  }
}

.select2-container {
  .select2-search--inline {
    margin: 1px 0;
  }
}

@import './lib/custom-responsive.less';
@import './lib/helpers.less';
