
.container-inline {
  div, nav, ul, label {
    display: inline;
  }
  .fieldset-wrapper {
    display: block;
    padding: 1em;
  }
  .field {
    margin-right: 1em;
  }
}

.container-inline-block {
  div, nav, ul, label {
    display: inline-block;
  }
}

.element-no-margin {
  margin: 0;
}

.element-inline {
  display: inline;
}

.messages-wrapper {
  margin: 0 2em;
}

.view-empty {
  margin: 1em 0;
}

ul.tips,
div.description,
.form-item div.description {
  color: #666;
  font-size: 0.923em;
  line-height: 1.231em;
  margin: 5px 0;
}

.media-browser-launch-processed {
  margin: 1em 0;
}

.layout-inline {
  display: inline-block;
}

.layout-separator {
  margin-bottom: @gen_gutter_width * 2;
}
.layout-separator-top {
  margin-top: @gen_gutter_width * 2;
}
.layout-separator-inner {
  padding-bottom: @gen_gutter_width * 2;
  padding-top: @gen_gutter_width * 2;
}

.more-link {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: right;
}

ul.inline .node-readmore {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
  display: inline-block;
}

.node-teaser {
  margin-bottom: 0 !important;
}

.node-document.node-teaser {
  margin-top: 1em;
}

.person-quick-links-wrapper {
  @twitter_brand_color: #1da1f2;
  @skype_brand_color: #00AFF0;
  margin-top: 1em;
  margin-bottom: 1em;

  .field-name-field-twitter-handle {
    margin: 0 0.5em 0 0;
    .icon.symbol--twitter {
      fill: @twitter_brand_color;
    }
  }
  .field-name-field-skype-id {
    p {
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      a {
        width: 24px;
        overflow: hidden;
        display: inline-block;
        img {
          width: 65px;
          max-width: 65px;
          margin: 5px 0 0 0 !important;
          padding: 0  !important;
          vertical-align: middle  !important;
        }
      }
    }
    .skype-id {
      color: @skype_brand_color;
      font-size: 12px;
    }
    .skype-button {
      display: none;
    }
  }
}

.xMediumAndDown() {
  // Fix wysiwyg image table align hack on mobile browsers.
  table[align="left"],
  table[align="right"] {
    float: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    width: 100% !important;
    td {
      padding: 0;
    }
  }
}

.eiti-map-wrapper {
  .leaflet-top {
    z-index: 101;  // Zoom buttons always on top.
  } 
  .leaflet-bottom {
    z-index: 100;  // Reduce the z-index.
  }
  // Fix multiline list align
  .map-option-widget {
    .map-option-items {
      li {
        padding-left: 22px;
        position: relative;
        &:before {
          position: absolute;
          left: 0;
        }
      }

    }
  }
}

.xNormalAndUp() {
  .entity-summary-data.view-mode-full {
    .field {
      .clearfix-mixin();
    }
    .label-above {
      width: 40%;
      float: left;
      text-align: right;
    }
    .field-items {
      width: 50%;
      float: left;
    }
    .field-item {
      margin-bottom: 0.5em;
    }
    .field-group-div {
      border: 1px solid @clmain__separator;
      margin: 1em 0;
      padding: 1em;
      h3 {
        margin-top: 0;
      }
    }
  }
}

.select2-container {
  .select2-search--inline {
    margin: 1px 0;
  }
}

.taxonomy-term.vocabulary-stakeholder-types {
  .field-name-name-field {
    margin: 1.25rem 0 1rem;
  }

  .page-title {
    margin: 0;
  }
}

.xMediumAndUp() {

  .taxonomy-term.vocabulary-stakeholder-types {
    .field-name-name-field {
      margin-bottom: 2rem;
    }
  }
}

.stk-type-contact {
  &.field-name-field-contact-eiti {
    margin: 29px 0 0;
    padding-left: 1.5rem; // 24px
    border-left: 1px solid #ddd;

    .label-above {
      margin-bottom: 12px;
      font-size: 1.125rem; // 18px
      color: @clnormal;
    }
  }
}

.group-left {
  .field-name-description-field {
    margin: 0;

    & > h2 {
      margin-top: 0;
    }
  }
}

// node stakeholder
.node-stakeholder {
  margin-top: 1.25rem; // 20px

  .field {
    margin: 0;
  }

  // left sidebar
  .group-left {
    margin-bottom: 2rem;

    // logo
    .field-name-field-stk-logo {
      margin: 0 0 2.25rem; // 36px
      img {
        display: block;
        max-width: 100%;
      }
    }

    // list
    .field-name-field-stk-countries {
      font-size: 1.125rem; // 18px
      line-height: 1.6667em; // 30px

      .field-label {
        margin-bottom: 0.5rem;
      }

      .field-item {
        margin-bottom: 0.3rem !important;
      }
    }
  }

  // node title
  .page-title {
    margin-top: 0;
    margin-bottom: 6px;
  }

  // website link
  .field-name-field-stk-website {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.6667em;
  }

  // intro text
  .field-name-field-short-intro {
    margin-bottom: 0.5625rem;
    font-size: 1.125rem;
    line-height: 1.4445em;
    color: @clnormal;
  }

  .field-name-field-supporter-since,
  .field-name-field-stk-membership {
    margin-bottom: 0.1875rem;
    font-style: italic;
    line-height: 1.875em;
  }

  // quote block
  .field-name-field-stk-quote-title {
    margin-top: 3rem;
    margin-bottom: 1.75rem;
    color: @clnormal;

    h2 {
      margin: 0;
      font-weight: 300;
      font-size: 2.5rem;
    }
  }

  .group-quote {
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 3.5rem;
    background-color: #EAF6FA;
    font-size: 1rem;
    line-height: 1.5em;
    color: @clnormal;

    &:before {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 1.75rem;
      height: 2rem;
      background-image: url(~"@{theme_path}images/icons/quote.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
    }
  }

  .field-name-field-stk-quote-source {
    margin-bottom: 1.25rem; // 20px
    font-weight: bold;
  }

  // main text
  .field-name-body {
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    color: @clnormal;

    p {
      line-height: 1.4445em;
    }
  }

  // members list
  .group-board {
    position: relative;
  }

  .field-name-field-fpp-person-list {

    .label-above {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      line-height: 1.25em;
      color: @clnormal;
    }
  }

  .field-name-board-link {
    margin-top: 1rem;

    p {
      margin: 0;
    }

    a {
      font-size: 1.125rem;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .person-teaser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 2rem;
    }

    .info {
      line-height: 1.6667em;
    }

    .title {
      margin-bottom: 0;
    }

    .person-details-wrapper {
      margin-bottom: 0.5rem;
    }

    .photo {
      margin: 0 1rem 0 0;

      img {
        width: 8rem;
      color: @clnormal;
    }
    }
  }
}

.xMediumAndUp() {
  .node-stakeholder {
    .group-left {
      margin-bottom: 0;
    }

    .group-quote {
      margin-bottom: 3rem;
      padding: 2.625rem 2rem 2.625rem 6.875rem;
      font-size: 1.125rem;
      line-height: 1.875rem;
  
      &:before {
        top: 2.25rem;
        left: 3rem;
        width: 2.25rem;
        height: 2rem;
      }
    }

    .field-name-field-stk-quote-text {
      font-size: 1.25rem; // 20px
      line-height: 1.8em; // 36px
    }

    .field-name-body {
      margin-bottom: 3rem;
    }

    .field-name-board-link {
      position: absolute;
      top: 0.375rem; // 6px
      right: 0;
      z-index: 1;
      margin-top: 0;
      padding-left: 1.5rem;

      &:before {
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        width: 8px;
        height: 14px;
        background: url(~"@{theme_path}images/icons/angle-right-blue.svg");
        content: '';
      }
    }

    .person-teaser {
  
      &:not(:last-child) {
        padding-bottom: 3rem;
      }

      .photo {
        margin: 0 3rem 0 0;
  
        img {
          width: 11rem;
        }
      }
    }
  }
}

@import './lib/custom-responsive.less';
@import './lib/helpers.less';
