    .mainMap {
        width: 400px;
        height: 500px;
    }
    .leaflet-container {
        background: #fff;
        border:1px solid #dddddd;
    }

    .legend {
      text-align: left;
      line-height: 18px;
      color: #555;
      width: 320px;
    }
    .legend i {
      width: 10px;
      height: 10px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
      margin-bottom: 15px;
      margin-top: 4px;
    }

    .country_info TH {
      padding:10px 10px 10px 10px;

    }

    .country_info TD {
      padding:5px 5px 5px 5px;

    }
    .country_info TR {
      margin:2px 5px 2px 5px;

    }

    .leaflet-popup-content {
      padding:0;
      margin:0;
    }
    .leaflet-popup-content-wrapper {
        padding: 1px;
        text-align: left;
        border-radius: 0px;
    }