@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300');

    .mainMap {
        width: 400px;
        height: 500px;
    }
    .leaflet-container {
        background: #fff;
        border:1px solid #dddddd;
        font-family: 'Open Sans', serif;
    }

    .legend {
      text-align: left;
      line-height: 18px;
      color: #555;
      width: 320px;
    }
    .legend i {
      width: 10px;
      height: 10px;
      float: left;
      margin-right: 8px;
      margin-bottom: 15px;
      margin-top: 4px;
    }

    .country_info TH {
      padding:10px 10px 10px 10px;

    }

    .country_info TD {
      padding:5px 5px 5px 5px;

    }
    .country_info TR {
      margin:2px 5px 2px 5px;

    }

    .leaflet-popup-content {
      padding:5px;
      margin:0;
    }

    .leaflet-popup-content hr{
      background: #eeeeee;
      border: none;
      display: block;
      height: 2px;
      margin-top:4px;
      margin-bottom:4px;
      width 100%;
    }

.leaflet-popup-content a:hover{
    text-decoration: none;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 0px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: 0 3px 14px rgba(0,0,0,0.15);
}

.leaflet-popup-content {
  padding:10;
  margin:10;
}
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 0px;
}
.leaflet-container {
    height:500px;
    width:1300px;
    display:block;
    margin:auto;
}

.map-container {
  font-family: 'Open Sans', serif;
}
.map-option-wrapper {
  text-align: center;
  background: #005382;
  margin-bottom: 0;
}
.map-option-widget {
  display: inline-block;
  list-style: none;
  margin: 4px auto 0 auto;
  overflow: visible;
  padding: 0;
  width: 1300px;
}
.map-option-widget li {
  background: url('../../images/map-icons/map-sprite.png') no-repeat;
  border-left:1px solid #0a6997;
  border-right:1px solid #0a6997;
  border-top: none;
  border-bottom: none;
  color: #0192c7;
  float: left;
  font-size: 14px;
  padding: 20px 12px 20px 65px;
  position: relative;
  width: 14%;
  margin-left: -1px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: color 400ms ease-in-out;
  -moz-transition: color 400ms ease-in-out;
  -o-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
}
.map-option-widget li.active {
  background-color: #023554;
  color: #ffffff;
}
.map-option-widget li:nth-child(1) {
  background-position: 14px 13px;
  border-left: none;
}
.map-option-widget li:nth-child(1):hover,
.map-option-widget li:nth-child(1).active {
  background-position: 14px -37px;
}
.map-option-widget li:nth-child(2) {
  background-position: 14px -406px;
}
.map-option-widget li:nth-child(2):hover,
.map-option-widget li:nth-child(2).active {
  background-position: 14px -458px;
}
.map-option-widget li:nth-child(3) {
  background-position: 14px -203px;
}
.map-option-widget li:nth-child(3):hover,
.map-option-widget li:nth-child(3).active {
  background-position: 14px -254px;
}
.map-option-widget li:nth-child(4) {
  background-position: 14px -96px;
}
.map-option-widget li:nth-child(4):hover,
.map-option-widget li:nth-child(4).active {
  background-position: 14px -150px;
}
.map-option-widget li:nth-child(5) {
  background-position: 14px -304px;
  border-right: none;
}
.map-option-widget li:nth-child(5):hover,
.map-option-widget li:nth-child(5).active {
  background-position: 14px -353px;
}
.map-option-widget li:first-child {
  margin-left: 0;
}
.map-option-widget li:hover {
  background-color: #023554;
  color: #ffffff;
}

.map-container ul ul {
  background: #023554;
  border-top: none;
  display: none;
  list-style: square;
  margin-top: -1px;
  position: absolute;
  z-index: 1001;
}

.map-container ul ul li {
  background: none;
  display: block;
  float: left;
  padding: 0;
}

.map-container ul li:hover ul {
  display: block;
  left: 0;
  padding: 14px;
  top: 60px;
  width: 89%;
}
.map-container ul li:last-child:hover ul {
  display: block;
  left: auto;
  position: absolute;
  right: 0;
}
/*sub nav*/
.map-option-items li {
   border-left: 1px solid #023554;
   border-right: 1px solid #023554;
   color: #999999;
   display: block;
   float: none;
   margin-bottom: 10px;
   margin-right: 20px;
   position: relative;
   text-transform: capitalize;
   width: 100%;
 }
.map-option-items li:hover,
.map-option-items li.active {
   color: #ffffff;
 }
.map-option-items li {
   background: none;
   cursor: pointer;
 }
 .map-option-items li:before {
   content:'\25B8';
   margin-right: 4px;
 }
