
/**
 * @TODO: CLEANUP!!!
 */

.eiti-visualization-wrapper .chartTitle {
    display: inline-block;
    margin-left: 0;
    font-size: 1em;
    font-weight: normal;
    color: #222;
}

.eiti-visualization-wrapper .chartDescription {
    margin-left: 110px;
    margin-top: -20px;
    color: #c83739;
    font-size: 1.1em;
}

.eiti-visualization-wrapper .legend {
    margin-top: 0;
    margin-bottom:20px;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
}
.eiti-visualization-wrapper .grouped-item-active {
    float: left;
    border: 2px solid #85be33;
    border-radius: 2px;
    font-size: 1.3em;
    padding: 5px;
    line-height: 70%;
    margin: 1px;
    cursor: pointer;
    width: 22%;
}

.eiti-visualization-wrapper .grouped-item {
    float: left;
    border: 2px solid #d3d3d3;
    border-radius: 2px;
    font-size: 1.3em;
    padding: 5px;
    line-height: 70%;
    margin: 1px;
    cursor: pointer;
    width: 22%;
}
.eiti-visualization-wrapper .grouped-item-long {
    float: left;
    border: 2px solid #d3d3d3;
    border-radius: 2px;
    font-size: 1.3em;
    padding: 5px;
    line-height: 70%;
    margin: 1px;
    cursor: pointer;
    width: 32%;
}

.eiti-visualization-wrapper .grouped-item:hover {
    background: #f0f0f0;
}

.eiti-visualization-wrapper .grouped-item li:hover {
    border: 2px solid #4bb4a1;
}

.eiti-visualization-wrapper .stacked-item-active {
    border: 2px solid #85be33;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    font-size: 1.5em;
    line-height: 70%;
    margin: 1px;
    padding: 5px;
    width: 45%;
}

.eiti-visualization-wrapper .stacked-item {
    border: 2px solid #d3d3d3;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    font-size: 1.5em;
    line-height: 70%;
    margin: 1px;
    padding: 5px;
    width: 45%;
}

.eiti-visualization-wrapper .stacked-item:hover,
.eiti-visualization-wrapper .stacked-item-active:hover{
    background: #f0f0f0;
}

.eiti-visualization-wrapper .stacked-item li:hover {
    border: 2px solid #4bb4a1;
}


.eiti-visualization-wrapper #waveformchart svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.eiti-visualization-wrapper #waveformchart {
    width: 100%;
    height: 140px;
    background-color: #333;
    position: relative;
    margin-bottom: 20px;
}
.eiti-visualization-wrapper .axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.eiti-visualization-wrapper .axis text {
    font: 11px sans-serif;
    fill: #000;
    stroke: none;
    font-weight: bold;
}

.eiti-visualization-wrapper .axis line {
    stroke: #ccc;
}

.eiti-visualization-wrapper .axis path {
    stroke: #ccc;
}
.eiti-visualization-wrapper #waveformchart .bar{
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
}

.eiti-visualization-wrapper #waveformchart .bar:hover {
    height: 100%;
    -ms-transform: scale(2,100); /* IE 9 */
    -webkit-transform: scale(2,100); /* Safari */
    transform: scale(2,100);
    -ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
}

.eiti-visualization-wrapper .bar:hover {
    stroke: #333;
}

.eiti-visualization-wrapper .dot:hover {
    fill: #E55;
}

.eiti-visualization-wrapper .area:hover {
    fill: #E55;
}

.eiti-visualization-wrapper .line {
    padding: 10px;
}

.eiti-visualization-wrapper .line:hover {
    stroke: #E55;
}

.eiti-visualization-wrapper .arc path:hover {
    fill: #E55;
}

.eiti-visualization-wrapper .arc text {
    font: 11px sans-serif;
    fill: #000;
    stroke: none;
    font-weight: bold;
}

.eiti-visualization-wrapper .tooltip {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #eee;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}

.eiti-visualization-wrapper .brush .extent {
    stroke: #000;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.eiti-visualization-wrapper .brush .background {
    fill: #ddd;
}

.eiti-visualization-wrapper #treemap svg{
    background: #ddd;
}

.eiti-visualization-wrapper .grandparent text {
    font-weight: bold;
}

.eiti-visualization-wrapper .rect {
    fill: none;
    stroke: #fff;
}

.eiti-visualization-wrapper rect.parent,
.eiti-visualization-wrapper .grandparent rect {
    stroke-width: 2px;
}

.eiti-visualization-wrapper .grandparent rect {
    fill: orange;
}

.eiti-visualization-wrapper .grandparent:hover rect {
    fill: #ee9700;
}

.eiti-visualization-wrapper .children rect.parent,
.eiti-visualization-wrapper .grandparent rect {
    cursor: pointer;
}

.eiti-visualization-wrapper .children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.eiti-visualization-wrapper .children:hover rect.child {
    fill: #bbb;
}

.eiti-visualization-wrapper .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.eiti-visualization-wrapper .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.eiti-visualization-wrapper .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.eiti-visualization-wrapper .link:hover {
    stroke-opacity: .5;
}

.eiti-visualization-wrapper .browser text {
    text-anchor: end;
}

/*
  Styles added for the bubble chart elements

*/
.eiti-visualization-wrapper .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.eiti-visualization-wrapper .link:hover {
    stroke-opacity: .3;
}

.eiti-visualization-wrapper .node text {
    pointer-events: none;
    text-shadow: 1px 1px 1px #ccc;
    font-size:11pt;
    font-weight: 600;
}

.eiti-visualization-wrapper .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
